set timeout=0

if [ "${grub_platform}" = "efi" ]; then
    set default=1
else
    set default=0
fi

menuentry --id=kernigham32 "kernigham Kernel (i386)" {
    search --no-floppy --file --set=root /boot/kernel.elf
    multiboot2 /boot/kernel.elf
    boot
}

menuentry --id=kernigham64 "kernigham Kernel (x86_64)" {
    search --no-floppy --file --set=root /boot/kernel64.elf
    multiboot2 /boot/kernel64.elf
    boot
}
