set timeout=0

terminal_input console

insmod all_video
insmod gfxterm
set gfxmode=auto
terminal_output gfxterm
set default=1

menuentry --id=wirth32 "wirth (i386)" {
    search --no-floppy --file --set=root /boot/kernel.elf
    multiboot2 /boot/kernel.elf
    boot
}

menuentry --id=wirth64 "wirth (x86_64)" {
    search --no-floppy --file --set=root /boot/kernel64.elf
    multiboot2 /boot/kernel64.elf
    search --no-floppy --file --set=root /boot/rootfs.seed
    module2 /boot/rootfs.seed
    boot
}
